  .parent {
    display: block;
    position: relative;
    width: 299.57px;
    height: 48px;
    margin: 0px;
    padding: 0px;
    border-Radius: 0px;

    box-Shadow: none;
    flex-Direction: row;
    align-Items: stretch;
    justify-Content: flex-start;
    gap: normal;
    z-Index: auto;
  }

  ;

  .label {
    color: rgb(25 30 59);
    font-Family: 'Roboto';
    font-Size: 12px;
    font-Weight: 700;
    padding: 0px;
    display: block;
    position: absolute;
    top: 4px;
    left: 0px;
    right: 206.32px;
    bottom: 28px;
    margin: 0px 12px 0px 44px;
    z-Index: auto;
  }

  ;

  .input {
    background-Color: rgb(255 255 255);
    border: 1px solid rgb(129 132 148);
    border-Radius: 8px;
    color: rgb(25 30 59);
    font-Family: "Centra No2";
    font-Size: 16px;
    font-Weight: 400;
    padding: 16px 11px 0px 43px;
    display: none;
    width: 100%;
    height: auto;
    box-Shadow: none;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0px;
    outline: rgb(25 30 59) none 0px;
    z-Index: auto;
  }



  button {
    background-Color: rgb(255 255 255);
    border: 1px solid rgb(129 132 148);
    border-Radius: 8px;
    color: rgb(25 30 59);
    font-Family: "Centra No2";
    font-Size: 16px;
    font-Weight: 400;
    padding: 16px 11px 0px 43px;
    cursor: pointer;
    display: block;
    width: 299.57px;
    height: 48px;
    box-Shadow: none;
    text-Align: start;
    text-Decoration: none solid rgb(25 30 59);
    text-Transform: none;
    letter-Spacing: normal;
    line-Height: 20px;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0px;
    outline: rgb(25 30 59) none 0px;
    opacity: 1;
    pointer-Events: auto;
    transition: all;
    overflow: hidden;
    white-Space: nowrap;
    z-Index: auto;
  }

  ;

  .icon {
    fill: rgb(25 30 59);
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 24px;
    left: 12px;
    right: 267.57px;
    bottom: 4px;
    margin: 0px;
    z-Index: auto;
  }

  ;