.calendar-container {
  padding-top: 3%;
  text-align: center;
  justify-items: center;
}

.booked {
  background-color: #ff4d4d4f !important;
  /* Röd bakgrund */
  color: white !important;
  border-radius: 50%;
}

.selected {
  background-color: #4d79ff !important;
  /* Blå bakgrund */
  color: white !important;
  border-radius: 50%;
}

.confirm-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4d79ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.react-calendar {
  width: 50%;
  border-radius: 25px;
  border-width: 6px;
}