.Home {
  text-align: center;
}

.filler {
  height: 10px;
}

.pic {
  border-radius: 25px;
}


.Home-header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 70px);
  justify-items: center;
  padding: 1%;
  /* e.g. 
          1fr 1fr
          minmax(10px, 1fr) 3fr
          
          50px auto 100px 1fr
      */


  border-width: 1px;
  border-style: solid;
  border-color: red;


  flex-direction: column;
  align-items: center;
  align-content: baseline;
  font-size: calc(10px + 2vmin);
  color: black;
}

.casadelcatarina {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 25px;
}

.calendar {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 18px;
}

.logocontainer {
  grid-column-start: 2;
}

.Home-link {
  color: #61dafb;
}

.maintext {
  border-radius: 25px;
  width: 34%;
  border: 2px solid black;
}

.homewrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}