.slide-image {
  width: 900px;
  height: 500px;
  /* Justera höjden så att alla bilder är lika stora */
  object-fit: cover;
  /* Gör så att bilder inte sträcks ut */
  border-radius: 10px;
}

.slideshow-container {
  width: 70%
}

.swiper {
  border-radius: 25px;
}

.searchbar {
  display: flex;
  width: 270px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(255 255 255 / 28%);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.searchbar input {
  border: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
}

.slideshow-container {
  position: relative;
  /* Viktigt för att searchbar inte påverkar slides */
  overflow: hidden;
}

.datebutton {
  height: 50px;
  border: 1px solid black;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  transition: color 0.3s ease;
}

.datebutton:hover {
  opacity: 100%;
  border-radius: 10px;
}

.submitbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border: 1px solid rgb(0, 0, 0);
  width: 70px;
  background-color: white;
  border-radius: 60px;
}

.react-datepicker-ignore-onclickoutside {
  width: 225px;
}